*, *:before, *:after {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
	font-size: 62.25%;
	font-family: verdana, geneva, sans-serif;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

h2 {
		color: #0068ba;
		text-align: center;
		margin-bottom: 40px;
}
h2:after  {
		display: table;
		content: " ";
		height:6px;
		width:30px;
		background-color: #0068ba;
}

.container {
	width: 1000px;
	margin: 0 auto;
}
.logo {
	margin: 0 auto;
	width:100%;
	text-align: center;
}
nav {
	margin-top: 20px;
	background-color: #0068ba;
}
nav a  {
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	color:#fff;
	padding: 20px 30px;
	display: inline-block;
	font-size: 1.2rem;
	text-transform: uppercase;
}
nav a:hover {
	background-color: #ff3535;
}
div.hero {
	margin-top: 20px;
}

div.hero img {
	width:1000px;
}

.contenido-inferior {
	margin-top: 20px;
	font-size: 20px;
}
div.contenido {
	width:650px;
	float:left;
}

div.contenido {
	padding-right: 20px;
}
div.contenido p {
	line-height: 36px;
	margin-bottom: 20px;
}

aside.sidebar {
	width:350px;
	float:right;
}

aside.sidebar ul {
	list-style: none;
}
aside.sidebar li {
	margin-bottom: 20px;
}
aside.sidebar ul li img {
	width:350px;
}

footer {
	background-color: #0068ba;
	padding: 0 0 30px 0;

}
footer nav {
	width:300px;
	float:left;
}
footer nav a {
	padding-left:20px;
	width:100%;
	text-align: left;
}

@media(min-width:400px){

}
@media(min-width:768px){

}
@media(min-width:992px){

}
@media(min-width:1200px){

}
